/* Search form */

.disclaimer-text {    
    font-size: 50%;
};

/* Recommendation list and cards */

div:empty {
   display: none;
}

.score-text {
    font-size: 200%;
}

/* Youtube trailer button (credit to Jacob Lett: https://codepen.io/JacobLett/pen/xqpEYE)*/
body {margin:2rem;}

.modal-dialog {
      max-width: 800px;
      margin: 30px auto;
  }



.modal-body {
  position:relative;
  padding:0px;
}
.close {
  position:absolute;
  right:-30px;
  top:0;
  z-index:999;
  font-size:2rem;
  font-weight: normal;
  color:#fff;
  opacity:1;
}
